<!DOCTYPE html>
<html lang="ko">

<head>
    <% include before_loading.ejs %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <title>개인정보 이력관리 시스템</title>

    <style type="text/css">
        @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
        body {
            font-family: 'RIDIBatang';
            color: #333333;
            letter-spacing: 1px;
        }

        .fontSize {
            font-size: 1.2em;
        }
    </style>

    <script>
        function onAdd() {
            alert("이력정보가 생성되었습니다.");
        };

        $(document).ready(function () {
            $('#datePicker')
                .datepicker({
                    format: 'yyyymmdd'
                })
                .on('changeDate', function (e) {
                    // Revalidate the date field
                    $('#eventForm').formValidation('revalidateField', 'date');
                });

            $('#eventForm').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'The name is required'
                            }
                        }
                    },
                    date: {
                        validators: {
                            notEmpty: {
                                message: 'The date is required'
                            },
                            date: {
                                format: 'YYYYMMDD',
                                message: 'The date is not a valid'
                            }
                        }
                    }
                }
            });
        });
    </script>


</head>

<body style="overflow:auto">
<% include ./header %>
<div class="container marketing">
    <% include ./menu %>
    <hr class="featurette-divider">
    <div class="container fontSize" style="display: inline-block; text-align: center;">
        <% if(esession.authenticated == false){ %>
            <% include ./notAuthenticated.ejs %>
            <% } 
            else if(esession.gubun == '관리자'){ %>
                <% include ./adminres %>
            <% } 
            else{ %>
            <div class="jumbotron" style="background-color: #f8f8f8;">
                <div style="font-size:2em;">개인정보 등록</div>
                <br><br>
                <div class="fontSize">
                    <form method="post" action="/dataAdd">
                        <div style="text-align: center; font-size:1.5em;">등록 정보</div>
                        <br>
                        <div class="row">
                            <div style="margin:0 auto;">
                                <div class="input-group" style="width:30%; margin:0 auto;">
                                    <span class="input-group-addon">데이터명</span>
                                    <input type="text" id="dataName" name="dataName" class="form-control"/>
                                </div>
                                <br>
                                <div class="input-group" style="width:30%; margin:0 auto;">
                                    <span class="input-group-addon">값</span>
                                    <input type="text" id="value" name="value" class="form-control"/>
                                </div>
                                <br>
                                <div class="input-group" style="width:30%; margin:0 auto;">
                                    <input type="file" name="file_path" id="file_path" style="width: 300px;"/>
                                </div>
                                <br>
                                <div class="input-group" style="width:30%; margin:0 auto;">
                                    <span class="input-group-addon">발급처</span>
                                    <select id="origin" name="origin" class="form-control">
                                      <option value=''>선택 (필수)</option>
                                      <% for(var i = 0; i < insNames.length; i++) { %>
                                        <option value='<%= insNames[i] %>' %>><%= insNames[i] %></option>
                                      <% } %>
                                    </select>
                                </div>
                            </div>
                        </div style="margin: auto 0;">
                        <br><br>
                        <input class="btn btn-primary" type="submit" value="등록" style="width:98px; background-color: #4a9dea; border-color:  #4a9dea;" onClick="onAdd()">
                        <input class="btn btn-light" type="reset" value="취소" style="width:98px;  background-color: #dddddd;">
                        <input class="btn btn-primary" type="#" value="개인정보 요청/발급" style="width:180px; background-color: #9eb9d2; border-color:  #9eb9d2;" onClick="">
                        <br><br>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</div>
<hr class="featurette-divider">
</div><!-- /.container -->
</body>
</html>