<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon.ico">
     <link rel="icon" href="/images/favicon.ico">
   
   <title>이력 정보 관리시스템</title>
   
   <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
   <link href="/public/stylesheets/carousel.css" rel="stylesheet">

   <script>
      function onAdd(){
        alert("이력 정보가 추가되었습니다.");
      };
  
  </script>

</head>

<body style="overflow:auto">
<% include ./header %>


    <!-- Carousel
    ================================================== -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
      

        <%include ./menu%>

        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
        <div class="jumbotron">
            <%if(esession.authenticated == false){ %>
            <%include ./notAuthenticated.ejs%>
            <% } else {%>
              <div class="container" style="display: inline-block; text-align: center;">
                <h3>이력 정보 추가 </h3> <br>
                <form method="post" action="/dataAdd" >
                  <label> 이 름 </label><br>
                  <input type="text" name="name" class="form-control" style="width:180px; margin:0 auto;" />
                  <br>
                  <label> 소 속</label><br>
                  <input type="text" name="affiliation" class="form-control" style="width:180px; margin:0 auto;" />
                  <br>
                  <label> Activity </label><br>
                  <input type="text" name="activityType" class="form-control" style="width:180px; margin:0 auto;" />
                  <br>
                  <label> 날 짜</label><br>
                  <input type="text" name="date" class="form-control" style="width:180px; margin:0 auto;" />
                  <br>
                  <label> 데이터명 </label><br>
                  <input type="text" name="dataName" class="form-control" style="width:180px; margin:0 auto;" />
                  <br>
                  <label> 데이터 종류</label><br>
                  <input type="text" name="dataType" class="form-control" style="width:180px; margin:0 auto;" />
                  <br>
                  <label> 가 격 </label><br>
                  <input type="text" name="price" class="form-control" style="width:180px; margin:0 auto;" />
                  <br>
                  <label> Device </label><br>
                  <input type="text" name="device" class="form-control" style="width:180px; margin:0 auto;" />
                  <br><br>
                  <input class="btn btn-primary" type="submit" value="추가" style="width:100px;" onClick="onAdd()">
                  <input class="btn btn-light" type="reset" value="취소" style="width:100px;">
                  <br><br>
                </form>
              </div>
            <% }%>
        </div>
        <hr class="featurette-divider">
  
      </div><!-- /.container -->
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>

</body>
</html>