<!DOCTYPE html> 
<html lang="ko"> 

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
     <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.ico">

  <title>이력 정보 관리시스템</title>
   
  <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
  <link href="C:/neoperson/test/neo/public/stylesheets/carousel.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://codepen.io/ace-subido/pen/Cuiep.css" rel="stylesheet">
</head>

<body style="overflow-y:scroll">
  <div class="navbar-wrapper">
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">이력 정보 관리시스템</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" style="float:right;">
            <ul class="nav navbar-nav">
              <li><a href="/users">로그인</a></li>
              <li><a href="/admin">관리자</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      <div class="wrapper">
        <form class="form-signin">
          <h2 class="form-signin-heading" style="text-align:center;">관리자 로그인</h2>
          <label for="inputId" class="sr-only">ID</label>
          <input type="text" id="inputID" class="form-control" placeholder="ID" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <!-- ADMIN/USER 
                <div class="radiobutton">
                    <input type="radio" name="user_info" value="admin">관리자
                    <input type="radio" name="user_info" value="user">사용자 
                </div>
                -->
          <button class="btn btn-lg btn-primary btn-block" type="submit">확인</button><br>
        </form>
      </div>
        <!-- /END THE FEATURETTES -->
    </div>
  
      </div><!-- /.container -->

</body>
</html>