<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function logout() {
         swal({
             title: "LOGOUT?",
             icon: "warning",
             buttons: true,
             dangerMode: true,
         })
        .then((logout) => {
            if (logout) {
                swal({
                    title:"LOGOUT 되었습니다!",
                    icon: "success",
                })
                .then((out)=>{
                    window.location.href = "/logout";
                });
            }
        });
    }
</script>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">이력 정보 관리시스템</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                    <ul class="nav navbar-nav">
                        <% if (esession != undefined){
                            if(esession.email){
                            %>
                            <li id="login_name" margin="auto" style="color:white; font-size:1.3em">
                                <%=esession.user%> 님 접속
                                <button id="logout" onclick="logout()">logout</button>
                            </li>
                            <%}else{%>
                                <li><a href="/users">로그인</a></li>
                            <%}
                        }else{%>
                            <li><a href="/users">로그인</a></li>
                        <%}%>
                        <!--<li><a href="/admin">관리자</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
