
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function logout() {
         swal({
             title: "로그아웃 하시겠습니까?",
             icon: "warning",
             buttons: true,
             dangerMode: true,
         })
        .then((logout) => {
            if (logout) {
                swal({
                    title:"로그아웃 되었습니다!",
                    icon: "success",
                })
                .then((out)=>{
                    window.location.href = "/logout";
                });
            }
        });
    }
</script>
<% if (esession != undefined){
    if(esession.email){
    %>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" style="font-size: 2.2em; font-family: 'Binggrae-Bold'; margin-top: 10px; margin-bottom: 10px" href="/" >개인정보 이력관리 시스템</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                    <ul class="nav navbar-nav">
                            <li id="login_name" margin="auto" style="color:#303030; font-size:1.5em">
                                <a href=#><%=esession.user%>님 환영합니다
                                <button id="logout" class="btn btn-default" style="color:#303030; margin-left: 5px;" onclick="logout()">logout</button></a>
                            </li>
                            <%}else{%>
                                <div class="navbar-wrapper">
                                    <div class="container-fluid">
                                        <nav class="navbar navbar-inverse navbar-static-top">
                                            <div class="container">
                                                <div class="navbar-header">
                                                    <a class="navbar-brand" style="font-size: 2.2em; font-family: 'Binggrae-Bold'; margin-top: 10px; margin-bottom: 10px" href="/" >개인정보 이력관리 시스템</a>
                                                </div>
                                                <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                                                    <ul class="nav navbar-nav">
                                <li><a href="/users" style="font-size:1.7em; margin-top: 10px; margin-bottom: 10px">로그인</a></li>
                            <%}
                        }else{%>
                            <div class="navbar-wrapper">
                                <div class="container-fluid">
                                    <nav class="navbar navbar-inverse navbar-static-top">
                                        <div class="container">
                                            <div class="navbar-header">
                                                <a class="navbar-brand" style="font-size: 2.2em; font-family: 'Binggrae-Bold'; margin-top: 10px; margin-bottom: 10px" href="/" >개인정보 이력관리 시스템</a>
                                            </div>
                                            <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                                                <ul class="nav navbar-nav">
                            <li><a href="/users" style="font-size:1.5em">로그인</a></li>
                        <%}%>
                        <!--<li><a href="/admin">관리자</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
