<!DOCTYPE html> 
<html lang="ko"> 

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
     <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.ico">

  <title>이력 정보 관리시스템</title>
   
  <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
  <link href="C:/neoperson/test/neo/public/stylesheets/carousel.css" rel="stylesheet">
</head>

<body style="overflow:auto">
  <div class="navbar-wrapper">
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">이력 정보 관리시스템</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" style="float:right;">
            <ul class="nav navbar-nav">
              <li><a href="/users">로그인</a></li>
              <li><a href="/admin">관리자</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div style="margin-top: 50px;"></div>
            <div class="col-lg-4" align = center>
              <img class="img-circle" src="/images/table.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>View data</h2>
              <p> </p>
              <p><a class="btn btn-default" href="/viewPage" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <img class="img-circle" src="/images/add.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Add data</h2>
              <p></p>
              <p><a class="btn btn-default" href="/addPage" role="button">Add details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <img class="img-circle" src="/images/search.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Search Data</h2>
              <p></p>
              <p><a class="btn btn-default" href="/search/searchPage" role="button">Search details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
  
  
        <!-- START THE FEATURETTES -->
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div style="margin-top: 10px;"></div>
          <div class="col-md-7">
            <h2 class="featurette-heading">&nbsp;&nbsp;Neo4j <span class="text-muted">그래프 데이터베이스</span></h2>
            <p class="lead"></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/images/neo4j.jpg" alt="Generic placeholder image">
            <div style="margin-top: 10px;"></div>
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div style="margin-top: 10px;"></div>
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">DI Lab <span class="text-muted">Data Intelligence Lab</span></h2>
            <p class="lead"></p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="/images/dilab.jpg" alt="DILab image" width="240" height="140">
            <div style="margin-top: 10px;"></div>
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette">
          <div style="margin-top: 10px;"></div>
          <div class="col-md-7">
            <h2 class="featurette-heading">IITP <span class="text-muted">정보통신기획평가원</span></h2>
            <p class="lead"></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/images/iitp.jpg" alt="Generic placeholder image">
          </div>
        </div>
  
        <hr class="featurette-divider">
  
        <!-- /END THE FEATURETTES -->

     
        
  


        <!-- FOOTER -->
        <footer>
        </footer>
  
      </div><!-- /.container -->
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>
    



    

</body>
</html>