<div class="row">
    <div style="margin-top: 50px;"></div>
    <div class="col-lg-4" align = center>
        <a  href="/viewPage" >
            <img class="img-circle" src="/images/table.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>이력 정보 보기</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a href="/addPage">
            <img class="img-circle" src="/images/add.jpg"  alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>이력 정보 추가</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a href = "/search/searchPage">
            <img class="img-circle" src="/images/search.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>이력 정보 검색</h2>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<div class="row">
    <div style="margin-top: 50px;"></div>
    <div class="col-lg-4" align = center>
        <a  href="/data/modifyData" >
            <img class="img-circle" src="/images/modify.png" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>이력 정보 변경</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a href="/data/deleteData">
            <img class="img-circle" src="/images/delete.png"  alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>이력 정보 삭제</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a href = "/data/uploadData">
            <img class="img-circle" src="/images/upload.png" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>이력 파일 업로드</h2>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->