<div class="row">
    <div style="margin-top: 50px;"></div>
    <div class="col-lg-4" align = center>
        <a  href="/viewPage" >
            <img src="/images/view.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>개인정보 보기</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a href="/addPage">
            <img src="/images/addData.png"  alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>개인정보 등록</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a  href="/data/modifyData" >
            <img src="/images/transfer.png" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>개인정보 제공</h2>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<div class="row">
    <div style="margin-top: 50px;"></div>
    <div class="col-lg-4" align = center>
        <a href = "/search/searchPage">
            <img src="/images/searcho.jpg" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>개인정보 이력검색</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a href="/data/analyzeData">
            <img src="/images/analysis.png"  alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>개인정보 이력분석</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" align = center>
        <a href = "/data/uploadData">
            <img src="/images/upload2.png" alt="Generic placeholder image" width="140" height="140">
        </a>
        <br><br>
        <h2>개인정보 이력 일괄입력</h2>
    </div>
     <!--<div class="col-lg-4" align = center>
        <a href = "/data/uploadData">
            <img src="/images/admin.png" alt="Generic placeholder image" width="121" height="140">
        </a>
        <br><br>
        <h2>관리자 메뉴</h2>
    </div>-->
</div><!-- /.row -->