<!DOCTYPE html> 
<html lang="ko"> 

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
     <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.ico">

  <title>이력 정보 관리시스템</title>
   
  <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
  <link href="C:/neoperson/test/neo/public/stylesheets/carousel.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="https://codepen.io/ace-subido/pen/Cuiep.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Song+Myung:300&display=swap" rel="stylesheet">

  <style type="text/css">
  .suit {
    width: 152px;
        }

  body {
	font-family: 'Do Hyeon';
	color: #303030;
  letter-spacing: 1px;
  background-image: url("/images/solution.png");
  background-position: 900px 740px;
  background-size: 20% 20%;
  background-repeat: no-repeat;
  }
  </style>
  
  </style>

   <script>
    function onLogin(){

      $("#login").submit();
      //alert("로그인 되었습니다.");
      //location.href="/logout";

    };

  </script>
  
</head>

<body style="overflow-y:scroll">
  <% include ./header %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      <div class="wrapper">
        <form class="form-signin" action="/users" id=login method="post">
          <h2 class="form-signin-heading" style="text-align:center;">로그인</h2>
          <label for="inputId" class="sr-only">ID</label>
          <input type="text" id="email" name="email" class="form-control" placeholder="ID" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                <!-- ADMIN/USER 
                <div class="radiobutton">
                    <input type="radio" name="user_info" value="admin">관리자
                    <input type="radio" name="user_info" value="user">사용자 
                </div>
              -->
          <input class="btn btn-lg btn-primary btn-block" type="button" value="확인" onClick="onLogin()"><br>
          <a href="#"
            onclick="window.open('/contact','contact','width=500, height=500')">
            <p class="text-center" style="font-size: 1.2em">아직 회원이 아니신가요?</p></a>
        </form>
      </div>
        <!-- /END THE FEATURETTES -->
    </div>

     
        
  


        <!-- FOOTER -->
        <footer>
        </footer>
  
      </div><!-- /.container -->
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>
    


</body>
</html>