<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ./before_loading.ejs %>
    <link href="https://codepen.io/ace-subido/pen/Cuiep.css" rel="stylesheet">
    <title>개인정보 이력관리 시스템</title>

    <style type="text/css">
    @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
    @font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
        .suit {
            width: 152px;
        }

        body {
            font-family: 'RIDIBatang';
            color: #303030;
            letter-spacing: 1px;
            background-image: url("/images/solution.png");
            background-position: 900px 740px;
            background-size: 20% 20%;
            background-repeat: no-repeat;
        }
    </style>
    <script>
        function onLogin() {
            $("#login").submit();
        };

    </script>

</head>

<body style="overflow-y:scroll">
<% include ./header %>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="wrapper">
        <form class="form-signin" action="/users" id=login method="post">
            <h2 class="form-signin-heading" style="text-align:center;">로그인</h2>
            <label for="inputId" class="sr-only">ID</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="ID" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
            <!-- ADMIN/USER
            <div class="radiobutton">
                <input type="radio" name="user_info" value="admin">관리자
                <input type="radio" name="user_info" value="user">사용자
            </div>
          -->
            <input class="btn btn-lg btn-primary btn-block" type="button" value="확인" onClick="onLogin()"><br>
            <a href="#"
               onclick="window.open('/contact','contact','width=500, height=500')">
                <p class="text-center" style="font-size: 1.2em">아직 회원이 아니신가요?</p></a>
        </form>
    </div>
    <!-- /END THE FEATURETTES -->
</div>


<!-- FOOTER -->
<footer>
</footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>