<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon.ico">
     <link rel="icon" href="/images/favicon.ico">
   
   <title>Provenance Data Management</title>
   
   <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
   <link href="/public/stylesheets/carousel.css" rel="stylesheet">

</head>

<body>
  
  
   <div class="navbar-wrapper">
      <div class="container-fluid">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Provenance Data Management</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4" align = center>
            <img class="img-circle" src="/images/table.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>View data</h2>
            <p></p>
            <p><a class="btn btn-default" href="/viewPage" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" align = center>
            <img class="img-circle" src="/images/add.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Add data</h2>
            <p></p>
            <p><a class="btn btn-default" href="/addPage" role="button">Add details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" align = center>
            <img class="img-circle" src="/images/search.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Search Data</h2>
            <p></p>
            <p><a class="btn btn-default" href="/search/searchPage" role="button">Search details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
  
  


        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
     
        <div class="jumbotron">
          <div class="container" style="display: inline-block;text-align: center;">
            <h3>Search Data-Period</h3> <br>
            <form method="post" action="/entityPeriod">
              <label>Data Name</label><br>
              <input type="text" name="entity_name" />
              <br><br>
              <label>Start Date</label><br>
              <input type="number" name="start_date"/>
              <br><br>
              <label>End Date</label><br>
              <input type="number" name="end_date"/>
              <br><br>
              <a href="/search/searchData/searchEntityPeriodResult"><input class="btn btn-primary" type="submit" value="Search"></a>
            </form>
          </div>
        </div>


        <hr class="featurette-divider">

        <!-- FOOTER -->
        <footer>
          <br>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
  
      </div><!-- /.container -->
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>
    



    

</body>
</html>