<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">

    <title>개인정보 이력관리시스템</title>

    <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
    <link href="../../public/stylesheets/carousel.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/codemirror.css">
    <link rel="stylesheet" href="/styles/codemirror-neo.css">
    <link rel="stylesheet" href="/styles/cy2neo.css">
    <link rel="stylesheet" href="/styles/neod3.css">
    <link rel="stylesheet" href="/styles/datatable.css">
    <link rel="stylesheet" href="/styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="/styles/sweet-alert.css">
    <link rel="stylesheet" href="/styles/gh-fork-ribbon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hgyoseo/ridibatang@master/font.css">

    <style type="text/css">

        table {
            border-collapse: collapse;
            color: black;
            border-left: 2px dashed white;
            border-bottom: 2px dashed white;
            border-top: 2px dashed white;
            min-width: 50%;
            padding: 5px;
        }

        body {
            font-family: 'Do Hyeon';
            color: #303030;
            letter-spacing: 1px;
        }

        th,td {
            text-align: center;
            padding: 5px;
            height: 80px;
        }

        th {
            border-bottom-width: 2px;
            font-weight: normal;
            background-color: #f8f8f8;
        }
    </style>

</head>

<body style="overflow:auto">
<% include ../header %>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <% include ../menu %>

    <hr class="featurette-divider">
    <br><br>
    <!-- START THE FEATURETTES -->
    <div class="jumbotron">
        <% if(esession.authenticated == false){ %>
            <% include ../notAuthenticated.ejs %>
        <% }else{ %>
            <div class="container" style="display: inline-block; text-align: center;">
                <div style="text-align: center; font-size:2em;">키워드 검색
                </div>
                <br>
                <form class="form-inline" method="post" action="/keyword" name="key" id="key" >
                    <table style="margin: auto; border: 0px;">
                        <tr>
                            <td><input type="text" class="form-control" name="keyword" id="keyword" style="width:600px;">
                            </td>
                        </tr>
                        <tr>
                            <td><br>
                                <!--
                                <a title="Execute" id="execute">
                                -->
                                    <!--<input class="btn btn-primary" value="검색" id="keywordBtn" onclick="location.href='searchkey'">-->
                                    <!--<input class="btn btn-primary" type="submit" value="검색">-->
                                    <button type="button" class="btn btn-primary" id="ksb">검색</button>
                                
                                <!--</a>-->
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        <% } %>
    </div>
    <div style="display: none;" id="keyData" name="keyData">
        <%=data%>
    </div>
    <hr class="featurette-divider">
    <div style="font-family: RIDIBatang">
        <table class="table table-striped" id="dataTable">
        </table>
    </div>
    <hr class="featurette-divider">
    <div style="font-family: RIDIBatang; text-align: center; font-weight: bold;" id="nodeContent">
        <!--노드 정보 추가할 자리-->
    </div>
    <hr class="featurette-divider">   
    <div class="tab-content" style="overflow: hidden;">
        <div role="tabpanel" class="tab-pane active" id="graph" style="height: 800px;">
            <div class="tab-pane active" id="graph">&nbsp;</div>
        </div>
    <!--             
    <div role="tabpanel" class="tab-pane" id="table">
        <div id="datatable"></div>
    </div>-->
    </div>
    </div>
    <hr class="featurette-divider">
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="/scripts/codemirror.js"></script>
<script src="/scripts/codemirror-cypher.js"></script>
<script src="/scripts/vendor.js"></script>
<script src="/scripts/sweet-alert.min.js"></script>
<script src="/scripts/neod3.js"></script>
<script src="/scripts/neod3-visualization.js"></script>
<script src="/scripts/neo4d3.js"></script>
<script src="/scripts/cy2neod3.js"></script>
<script src="/scripts/jquery.dataTables.min.js"></script>
<script src="/scripts/cypher.datatable.js"></script>
<script src="/scripts/config.js"></script>



<!--var data = document.getElementById("keyResult").innerHTML;-->
<script type="text/javascript">
    var config = {}
    var cypher;
    var graphNum;
    var queries;
          
    $(document).ready(function () {
        $("#ksb").click(function() {
            $("#key").submit();

    });
       
    var keyDatas = document.getElementById("keyData").innerHTML;
    var resultFlag

    if(!isNaN(Number(keyDatas))){
        resultFlag = false
        var keylen = Number(keyDatas)
    }
    else{
        resultFlag = true
        var result = keyDatas.split('|');

        queries = result[0].split('/');
        queries.splice(0, 1);

        var tables = result[1].split(';');
        tables.splice(tables.length-1, 1);

        var rankings = [];
        tables.forEach(function(element, index){
            var tmp = element.split('/')
            rankings[index] = tmp.splice(0, tmp.length-1)
        });

        var ranking = [];
        rankings.forEach(function(rank, index){
            rnk = []
            rank.forEach(function(r, ind){
                var tmp = r.split('=')
                rnk[ind] = tmp
            })
            ranking[index] = rnk
        })

        var resultLabel = []
        var resultProp = []
        var resultVal = []
        ranking.forEach(function(rank, index){
            var labels = []
            var props = []
            var vals = []
            rank.forEach(function(rr, indx){
                var label = []
                var prop = []
                var val = []
                rr.forEach(function(r, ind){
                    if(ind == 0){
                        label.push(r)
                    }
                    else if(ind == 1){
                        var tmp = r.split('.')
                        prop.push(tmp)
                    }
                    else{
                        var tmp = r.split('.')
                        val.push(tmp)
                    }
                })
                labels.push(label)
                props.push(prop)
                vals.push(val)
            })
            resultLabel.push(labels)
            resultProp.push(props)
            resultVal.push(vals)
        })
        var keywordNames = []
        var keywordVals = []

        for(var k = 0; k < resultLabel.length; k++){
            console.log("랭킹: " , k)
            var nt = [];
            var vt = [];
            for(var i = 0; i<resultLabel[k].length ; i++){
                console.log("   키워드: ", i)
                var nameTmp = [];
                var valTmp = [];
                if(resultLabel[k][i][0] == 'Person'){
                    console.log("person")
                    nameTmp.push(resultVal[k][i][0][0])
                    valTmp.push(resultVal[k][i][0][1]) //p_type
                    //valTmp.push(resultVal[k][i][0][2]) //pid
                }
                else if(resultLabel[k][i][0] == "Data"){
                    console.log("Data")
                    nameTmp.push(resultVal[k][i][0][0])
                    if(resultVal[k][i][0][1] != ""){
                        valTmp.push(resultVal[k][i][0][1]) //value
                    }
                    else if(resultVal[k][i][0][2] != ""){
                        valTmp.push(resultVal[k][i][0][2]) //file_path
                    } 
                    valTmp.push(resultVal[k][i][0][3]) //origin
                }
                else{
                    console.log("Activity")
                    nameTmp.push(resultVal[k][i][0][1])
                    valTmp.push(resultVal[k][i][0][0]) //날짜 
                }
                nt.push(nameTmp)
                vt.push(valTmp)
            }
            keywordNames.push(nt)
            keywordVals.push(vt)
        }
        /*
        keywordNames.forEach(function(element, index){
            console.log(index)
            console.log(element)
        })
        keywordVals.forEach(function(element, index){
            console.log(index)
            console.log(element)
        })
        */
    }

    if(!resultFlag){
        var trNum = 1;
        var thNum = 1;
        var tdNum = 1;
    }
    else {
        var trNum = resultVal.length;
        var thNum = resultVal.length;
        var tdNum = resultLabel.length;
    }
    var kNum = 0;
    var trObj;
    var thObj;
    var tdObj;

    for(var i = 0; i < trNum + 1; i++){
        if(i == 0){
            trObj=document.createElement("tr")
            thObj=document.createElement("th");
            trObj.appendChild(thObj); 
            thObj.innerHTML='순위';
            thObj.style.height = '50px';
            len = resultVal[i].length;
            if(!resultFlag){
                len = keylen
            }
        }
         else {
            trObj=document.createElement("tr")
            thObj=document.createElement("th");
            trObj.appendChild(thObj); 
            thObj.innerHTML = i;
            len = resultVal[i-1].length;
        }   
        for(var k = 0; k < len; k++){
            if(i == 0){
                tdObj=document.createElement("td");
                tdObj.innerHTML='키워드 '+(kNum+1);
                tdObj.style.backgroundColor = "#f8f8f8";
                trObj.appendChild(tdObj);
                kNum = kNum + 1;
            }
            else{
                tdObj=document.createElement("td");
                tdObj.innerHTML = keywordNames[i-1][k] + "<br>(" + keywordVals[i-1][k] + ")"; 
                trObj.appendChild(tdObj); 
            }             
        }
        if(i == 0){
            tdObj=document.createElement("td");
            tdObj.style.backgroundColor = "#f8f8f8" 
            tdObj.innerHTML= '<img src="/images/node.png" width="" height="">'
            trObj.appendChild(tdObj); 
        }
        else {
            tdObj=document.createElement("td");
            //tdObj.style.backgroundColor = "#f8f8f8" 
            tdObj.innerHTML='<button type="button" class="btn btn-primary" onclick="Show(' + (i-1) + ')">그래프 보기</button>';
            trObj.appendChild(tdObj); 
        }
    dataTable.appendChild(trObj); 
    } 
    
    }); 

    function Show(num) {
        var connection = function () {
            return {url: Neo4j.DB_URL, user: Neo4j.DB_USR, pass: Neo4j.DB_PWD};
        }
        new Cy2NeoD3(config, "graph", "datatable", queries[num], "execute", connection, true);
        document.getElementById("nodeContent").innerHTML = '';
    }


    function showAtrr(query) {
        var attrs = [];
        attrs = query.split(',');
        console.log(attrs)
        if(attrs[0] == 'Person') {
            var pid;
            if(attrs[2] == "개인"){
                pid = Array.from(attrs[3])
                for(var i = 8; i<pid.length; i++ ){
                    pid[i] = "*";
                }
                pid = pid.join('')
            }
            document.getElementById("nodeContent").innerHTML = "이름: " + attrs[1] + "<br>" + "타입: " + attrs[2] + "<br>" + "ID: " + pid;
        }
        else if(attrs[0] == 'Activity') {
            if(attrs[2] == "가공"){
                document.getElementById("nodeContent").innerHTML = "행동: " + attrs[2] + "<br>" + "날짜: " + attrs[1] + "<br>" + "가공방법: " + attrs[3];
            }
            else{
                document.getElementById("nodeContent").innerHTML = "행동: " + attrs[2] + "<br>" + "날짜: " + attrs[1];
            }

        }
        else if(attrs[0] == 'Data') {
            if(attrs[1] != ""){
                document.getElementById("nodeContent").innerHTML = "데이터명: " + attrs[3] + "<br>" + "파일: " + attrs[1] + "<br>" + "생성기관: " + attrs[2];
            }
            else if(attrs[3] != ""){
                document.getElementById("nodeContent").innerHTML = "데이터명: " + attrs[3] + "<br>" + "값: " + attrs[4] + "<br>" + "생성기관: " + attrs[2];
            }
        }
        //document.getElementById("nodeContent").innerHTML = attrs;
        //document.getElementById("nodeContent").innerHTML = query;
    }
    

</script>

</body>
</html>