<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon.ico">
     <link rel="icon" href="/images/favicon.ico">
   
   <title>Provenance Data Management</title>
   
   <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
   <link href="/public/stylesheets/carousel.css" rel="stylesheet">

</head>

<body style="overflow:auto">
    <div class="navbar-wrapper">
      <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">이력 정보 관리시스템</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" style="float:right;">
              <ul class="nav navbar-nav">
                <!--<li><a href="/users"></a></li>-->
                <!--<li><a href="/admin">관리자</a></li>-->
                <li><a href=#>눈송이님 환영합니다.</a></li>
                <li><a href="/">로그아웃</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div style="margin-top: 50px;"></div>
            <div class="col-lg-4" align = center>
              <img class="img-circle" src="/images/table.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>데이터 보기</h2>
              <p> </p>
              <p><a class="btn btn-default" href="/viewPage" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <img class="img-circle" src="/images/add.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>데이터 추가</h2>
              <p></p>
              <p><a class="btn btn-default" href="/addPage" role="button">Add details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4" align = center>
              <img class="img-circle" src="/images/search.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>데이터 검색</h2>
              <p></p>
              <p><a class="btn btn-default" href="/search/searchPage" role="button">Search details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        <hr class="featurette-divider">
        <br><br>
        <!-- START THE FEATURETTES -->
        <div class="jumbotron">
            <div class="container" style="display: inline-block;text-align: center;">
              <h3>키워드 검색</h3><br><br><br>
              <form class="form-inline" method="post" action="/keyword">
                <div class="input-group" style="text-align: center;">
                    <input type="text" class="form-control" name = "keyword" style="width:300px;">
                </div>                  
                <!--<input class="btn btn-primary" type="submit" value="Search">-->
                <a href="/search/searchKeyword/searchKeywordResult"><input class="btn btn-primary" type="submit" value="Search"></a>
                <br><br><br><br><br>
                </form>
            </div>
          </div>
  

        <hr class="featurette-divider">
  
      </div><!-- /.container -->
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>
    



    

</body>
</html>