<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ../before_loading.ejs %>
    <title>개인정보 이력관리 시스템</title>

    <style type="text/css">
        @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
        body {
            font-family: 'RIDIBatang';
            color: #303030;
            letter-spacing: 1px;
        }

        .fontSize {
            font-size: 1.2em;
        }
    </style>

</head>

<body style="overflow:auto">
<% include ../header %>

<!-- Carousel
================================================== -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <% include ../menu %>

    <hr class="featurette-divider">
    <div class="container fontSize" style="display: inline-block; text-align: center;">
        <% if(esession.authenticated == false){ %>
            <% include ../notAuthenticated.ejs %>
            <% } 
            else if(esession.gubun == '관리자'){ %>
                <% include ../adminres %>
            <% } 
            else{ %>
            <div class="jumbotron" style="background-color: #ffffff;">
                <!--<div style="font-size:2em;">기관 관리</div>-->
                <div class="fontSize">
                        <div class="row">
                            <div style="margin:0 auto;" align=center>
                                <a href="/search/searchConditionPage">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" style="width:300px; background-color: #4a9dea; border-color:  #4a9dea;">조건 검색</button>
                                </a>
                                <br><br>
                                <a href="/search/searchKeyword">
                                    <button type="button" class="btn btn-default btn-lg btn-block" style="width:300px;">키워드 검색</button>
                                </a>
                            </div>
                        </div>
                </div>
            <!--</div>-->
        <% } %>
    </div>
    <hr class="featurette-divider">


</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>