<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">

    <title>이력 정보 관리시스템</title>

    <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
    <link href="../../public/stylesheets/carousel.css">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/codemirror.css">
    <link rel="stylesheet" href="/styles/codemirror-neo.css">
    <link rel="stylesheet" href="/styles/cy2neo.css">
    <link rel="stylesheet" href="/styles/neod3.css">
    <link rel="stylesheet" href="/styles/datatable.css">
    <link rel="stylesheet" href="/styles/vendor.css"> <!-- bootstrap-->
    <link rel="stylesheet" href="/styles/sweet-alert.css">
    <link rel="stylesheet" href="/styles/gh-fork-ribbon.css">

    <style type="text/css">
        body {
            font-family: 'Do Hyeon';
            color: #303030;
            letter-spacing: 1px;
        }
    </style>

</head>

<body style="overflow:auto">
<% include ../header %>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <% include ../menu %>

    <hr class="featurette-divider">
    <br><br>
    <!-- START THE FEATURETTES -->
    <div class="jumbotron">
        <% if(esession.authenticated == false){ %>
            <% include ../notAuthenticated.ejs %>
        <% }else{ %>
            <div class="container" style="display: inline-block; text-align: center;">
                <div style="text-align: center; font-size:2em;">키워드 검색
                </div>
                <br>
                <form class="form-inline" method="post" action="/keyword">
                    <table style="margin: auto; border: 0px;">
                        <tr>

                            <td><input type="text" class="form-control" name="keyword" id="keyword" style="width:300px;">
                            </td>
                        </tr>
                        <tr>
                            <td><br>
                                <!--
                                <a title="Execute" id="execute">
                                -->
                                    <!--<input class="btn btn-primary" value="검색" id="keywordBtn" onclick="location.href='searchkey'">-->
                                    <input class="btn btn-primary" onclick="searchData();" value="검색" type="submit">

                                </a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        <% } %>
    </div>
    <div style="border: 1px solid red;">
        <%=data%>
    </div>
    <hr class="featurette-divider">
    <div>
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#graph" aria-controls="home" role="tab"
                                                          data-toggle="tab">Graph</a></li>
                <li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="overflow: hidden;">
                <div role="tabpanel" class="tab-pane active" id="graph" style="height: 800px;">
                    <div class="tab-pane active" id="graph">&nbsp;</div>
                </div>
                <div role="tabpanel" class="tab-pane" id="table">
                    <div id="datatable"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="/scripts/codemirror.js"></script>
<script src="/scripts/codemirror-cypher.js"></script>
<script src="/scripts/vendor.js"></script>
<script src="/scripts/sweet-alert.min.js"></script>
<script src="/scripts/neod3.js"></script>
<script src="/scripts/neod3-visualization.js"></script>
<script src="/scripts/neo4d3.js"></script>
<script src="/scripts/cy2neod3.js"></script>
<script src="/scripts/jquery.dataTables.min.js"></script>
<script src="/scripts/cypher.datatable.js"></script>
<script src="/scripts/config.js"></script>



<!--var data = document.getElementById("keyResult").innerHTML;-->
<script type="text/javascript">
    var config = {}
    var cypher;

    function searchData() {
        var result = '<%=data %>'
        console.log(typeof(result))

        console.log("DDD")
        console.log(result)
        console.log(document.getElementById('keyword').value);
        var cyphers = []
        cyphers[0] = "MATCH (personA:Person { name: '양유정', affiliation: '한국인터넷진흥원'}), (personB:Person { name: '서민지', affiliation: '한국보건산업진흥원' }), (personC:Person { name: '송가인', affiliation: '건강보험심사평가원' }) WITH personA, personB, personC MATCH p = shortestPath((personA)-[*]-(personB)) MATCH p2 = shortestPath((personB)-[*]-(personC)) RETURN p, p2"
        cyphers[1] = "MATCH (personA:Person { name: '양유정', affiliation: 'SK텔레콤'}), (personB:Person { name: '서민지', affiliation: '숙명여자대학교' }), (personC:Person { name: '송가인', affiliation: '한국과학기술정보연구원' }) WITH personA, personB, personC MATCH p = shortestPath((personA)-[*]-(personB)) MATCH p2 = shortestPath((personB)-[*]-(personC)) RETURN p, p2"
        cyphers[2] = "MATCH (personA:Person { name: '양유정', affiliation: '상명대학교'}), (personB:Person { name: '송가인', affiliation: '국립중앙의료원' }), (personC:Person { name: '서민지', affiliation: 'AWS' }) WITH personA, personB, personC MATCH p = shortestPath((personA)-[*]-(personB)) MATCH p2 = shortestPath((personB)-[*]-(personC)) RETURN p, p2"
       


        // var keyStr = document.getElementById('keyword').value;
        // var keyword = keyStr.split(" ");
        // var cyphers = []
        // //cyphers[0] = "MATCH (k1:Person{ name: '양유정'}),(k2: Person{ name: '정은비'}), p =(k1)-[*3..5]-(k2) RETURN p;"
        // cyphers[0] = "MATCH (personA:Person { name: '양유정', affiliation: '한국인터넷진흥원'}), (personB:Person { name: '서민지', affiliation: '한국보건산업진흥원' }), (personC:Person { name: '송가인', affiliation: '건강보험심사평가원' }) WITH personA, personB, personC MATCH p = shortestPath((personA)-[*]-(personB)) MATCH p2 = shortestPath((personB)-[*]-(personC)) RETURN p, p2"
        // cyphers[1] = "MATCH (personA:Person { name: '양유정', affiliation: 'SK텔레콤'}), (personB:Person { name: '서민지', affiliation: '숙명여자대학교' }), (personC:Person { name: '송가인', affiliation: '한국과학기술정보연구원' }) WITH personA, personB, personC MATCH p = shortestPath((personA)-[*]-(personB)) MATCH p2 = shortestPath((personB)-[*]-(personC)) RETURN p, p2"
        // cyphers[2] = "MATCH (personA:Person { name: '양유정', affiliation: '상명대학교'}), (personB:Person { name: '송가인', affiliation: '국립중앙의료원' }), (personC:Person { name: '서민지', affiliation: 'AWS' }) WITH personA, personB, personC MATCH p = shortestPath((personA)-[*]-(personB)) MATCH p2 = shortestPath((personB)-[*]-(personC)) RETURN p, p2"
        // //cyphers[2] = "MATCH (k1:Person{ name: '서민지'}),(k2: Person{ name: '정예인'}), p =(k1)-[*3..5]-(k2) RETURN p;"
        // var cypher = "MATCH (k1:Person{name:'" + keyword[0] + "'}),(k2: Person{name:'" + keyword[1] + "'}), p =(k1)-[*3..5]-(k2) RETURN p;"
        // //var cypher = "MATCH (k1:Person{ name: '양유정'}),(k2: Person{ name: '정은비'}), p =(k1)-[*3..5]-(k2) RETURN p;"
        // var connection = function () {
        //     return {url: Neo4j.DB_URL, user: Neo4j.DB_USR, pass: Neo4j.DB_PWD};
        // }
        //new Cy2NeoD3(config, "graph", "datatable", cyphers, "execute", connection, true);


            /*
    $(document).ready(function () {

        var config = {}
        var cypher = []
        //var cypher = "MATCH (k1:Person{ name: '양유정'}),(k2: Person{ name: '정은비'}), p =(k1)-[*3..5]-(k2) RETURN p;"
        //var cypher = "MATCH (personA:Person { name: '양유정', affiliation: '한국인터넷진흥원'}), (personB:Person { name: '서민지', affiliation: '한국보건산업진흥원' }), (personC:Person { name: '송가인', affiliation: '건강보험심사평가원' }) WITH personA, personB, personC MATCH p = shortestPath((personA)-[*]-(personB)) MATCH p2 = shortestPath((personB)-[*]-(personC)) RETURN p, p2"

        
        cypher = "MATCH (k1:Person{ name: '양유정'}),(k2: Person{ name: '정은비'}), p =(k1)-[*3..5]-(k2) RETURN p;"

        var connection = function () {
            return {url: Neo4j.DB_URL, user: Neo4j.DB_USR, pass: Neo4j.DB_PWD};
        }
        new Cy2NeoD3(config, "graph", "datatable", cypher, "execute", connection, true);
        
    });
    */


    }

</script>

</body>
</html>