<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon.ico">
     <link rel="icon" href="/images/favicon.ico">
   
   <title>이력 정보 관리시스템</title>
   
   <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
   <link href="carousel.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

   <style type="text/css"> 
    body {
      font-family: 'Do Hyeon';
      color: #303030;
      letter-spacing: 1px;
    }

    th {
      text-align: center;
    }

    .fontSize {
      font-size: 1.2em;
    }
  </style>

</head>

<body style="overflow:auto">
<% include ../header %>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->

        <!-- START THE FEATURETTES -->
        <%include ../menu%>

        <hr class="featurette-divider">
        <br><br>
        <!-- START THE FEATURETTES -->
        <div class="jumbotron">
          <div class="container fontSize" style="display: inline-block; text-align: center;">
            <div style="text-align: center; font-size:2em;">키워드 검색</div><br><br>
            <!--<form class="form-inline" method="post" action="/keyword">-->
              <form class="form-inline">
              <div class="input-group" style="text-align: center;">
                  <input type="text" class="form-control" name = "keyword" style="width:300px;">
              </div>                  
              <!--<input class="btn btn-primary" type="submit" value="Search">-->
              <a href="/search/searchKeywordResult"><input class="btn btn-primary" type="submit" value="검색"></a>
              <br><br><br><br><br>
            <!--  </form>-->
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="jumbotron">
          <div class="container fontSize" style="display: inline-block;text-align: center;">
            <br>
            <%if(esession.gubun =='사용자'){%>


            <br>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading" style="font-size:1.4em;">키워드 검색 결과></div>
              <!-- Table -->
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th align = center>#</th>
                      <th align = center>&nbsp;발송인&nbsp;</th>
                      <th align = center>데이터ID</th>
                      <th align = center>활동 타입</th>
                      <th align = center>수취인</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        1
                      </th>
                      <td align = center>
                        이진기
                      </td>
                      <td align = center>
                        data_176
                      </td>
                      <td align = center>
                        판매
                      </td> 
                      <td align = center>
                        정다솔
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">
                          2
                        </th>
                        <td align = center>
                          정다솔
                        </td>
                        <td align = center>
                          data_932
                        </td>
                        <td align = center>
                          구매
                        </td> 
                        <td align = center>
                          정윤오
                        </td>
                      </tr>
                      <tr>
                          <th scope="row">
                            3
                          </th>
                          <td align = center>
                            정윤오
                          </td>
                          <td align = center>
                            data_483
                          </td>
                          <td align = center>
                            배포
                          </td> 
                          <td align = center>
                            이재인
                          </td>
                        </tr>
                  </tbody>
                </table>
            </div>  
          </div>
          <%}%>
          <%if(esession.gubun =='관리자'){%>

          </div>
  
          <div class="jumbotron">
            <div class="container fontSize" style="display: inline-block;text-align: center;">
              <br>
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="font-size:1.4em;">키워드 검색 결과</div>
                <!-- Table -->
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th align = center>#</th>
                        <th align = center>&nbsp;발송인&nbsp;</th>
                        <th align = center>데이터ID</th>
                        <th align = center>활동 타입</th>
                        <th align = center>수취인</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          1
                        </th>
                        <td align = center>
                          김태형
                        </td>
                        <td align = center>
                          data_576
                        </td>
                        <td align = center>
                          배포
                        </td> 
                        <td align = center>
                          이치훈
                        </td>
                      </tr>
                      <tr>
                          <th scope="row">
                            2
                          </th>
                          <td align = center>
                            이치훈
                          </td>
                          <td align = center>
                            data_233
                          </td>
                          <td align = center>
                            구매
                          </td> 
                          <td align = center>
                            조아라
                          </td>
                        </tr>
                        <tr>
                            <th scope="row">
                              3
                            </th>
                            <td align = center>
                              조아라
                            </td>
                            <td align = center>
                              data_463
                            </td>
                            <td align = center>
                              판매
                            </td> 
                            <td align = center>
                              이채연
                            </td>
                          </tr>
                          <tr>
                              <th scope="row">
                                4
                              </th>
                              <td align = center>
                                이채연
                              </td>
                              <td align = center>
                                data_866
                              </td>
                              <td align = center>
                                구매
                              </td> 
                              <td align = center>
                                장희은
                              </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                  5
                                </th>
                                <td align = center>
                                  장희은
                                </td>
                                <td align = center>
                                  data_924
                                </td>
                                <td align = center>
                                  구매
                                </td> 
                                <td align = center>
                                  서지수
                                </td>
                              </tr>
                              <tr>
                                  <th scope="row">
                                    6
                                  </th>
                                  <td align = center>
                                    서지수
                                  </td>
                                  <td align = center>
                                    data_566
                                  </td>
                                  <td align = center>
                                    배포
                                  </td> 
                                  <td align = center>
                                    한아름
                                  </td>
                                </tr>
                    </tbody>
                  </table>
              </div>  
            </div>
            
            
            
            <%}%>
        </div>

        <hr class="featurette-divider">
        <!-- FOOTER -->
        <footer>
        </footer>
  
      </div><!-- /.container -->
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>
    



    

</body>
</html>

