<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon.ico">
     <link rel="icon" href="/images/favicon.ico">
   
   <title>이력 정보 관리시스템</title>
   
   <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
   <link href="/public/stylesheets/carousel.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

   <style type="text/css"> 
    body {
      font-family: 'Do Hyeon';
      color: #303030;
      letter-spacing: 1px;
    }

    .fontSize {
      font-size: 1.2em;
    }
  </style>

   <script>
      function onAdd(){
        alert("이력 정보가 수정되었습니다.");
      };
  
  </script>

</head>

<body style="overflow:auto">
<% include ../header %>


    <!-- Carousel
    ================================================== -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <%include ../menu%>
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
        <div class="container" style="display: inline-block; text-align: center;">
            <%if(esession.authenticated == false){ %>
            <%include ../notAuthenticated.ejs%>
            <% } else {%>
              <div class="jumbotron">
                <div style="font-size:2em;">개인정보 이력 변경</div> <br><br>
                <div class="fontSize">
                <form method="post" action="/dataAdd" >
                  <div style="text-align: center; font-size:1.5em;">발송인<br></div>
                  <div class="row" >
                    <div style="margin:0 auto;">
                    <div class="input-group" style="width:30%; margin:0 auto;">
                        <span class="input-group-addon">이름</span>
                        <input type="text" id="name" name="name"  value = '' class="form-control" />
                    </div>
                    <br>
                    <div class="input-group" style="width:30%; margin:0 auto;">
                        <span class="input-group-addon">소속</span>
                        <input type="text" id="affiliation" name="affiliation"  value = '' class="form-control" />
                    </div>
                  </div>
                  </div>
                  <br><br><div style="text-align: center; font-size:1.5em;">수취인<br></div>
                  <div class="row" >
                    <div style="margin:0 auto;">
                    <div class="input-group" style="width:30%; margin:0 auto;">
                        <span class="input-group-addon">이름</span>
                        <input type="text" id="name" name="name"  value = '' class="form-control" />
                    </div>
                    <br>
                    <div class="input-group" style="width:30%; margin:0 auto;">
                        <span class="input-group-addon">소속</span>
                        <input type="text" id="affiliation" name="affiliation"  value = '' class="form-control" />
                    </div>
                  </div>
                  </div>
                  <br><br>
                  <div style="text-align: center; font-size:1.5em;">데이터<br></div>
                  <div class="row" >
                  <div style="margin:0 auto;">
                    <div class="input-group" style="width:30%; margin:0 auto;">
                        <span class="input-group-addon">데이터</span>
                        <input type="text" id="dataName" name="dataName"  value = '' class="form-control" />
                    </div>
                    <br>
                    <div class="input-group" style="width:30%; margin:0 auto;">
                        <span class="input-group-addon">가격</span>
                        <input type="text" id="price" name="price"  value = '' class="form-control" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2" for="company"></label>
                        <div class="col-sm-6 col-md-4">
                          <select id="dataType" name = "dataType" class="form-control">
                            <option value = ''>타입</option>
                            <option value="건강데이터">건강</option>
                            <option value="의료데이터">의료</option>
                            <option value="위치데이터">위치</option>
                            <option value="음성데이터">음성</option>
                          </select> 
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2" for="company"></label>
                        <div class="col-sm-6 col-md-4">
                          <select id="device" name = "device" class="form-control">
                            <option value = ''>장치</option>
                            <option value="AI스피커">AI스피커</option>
                            <option value="T머니">T머니</option>
                            <option value="레일플러스">레일플러스</option>
                            <option value="스마트워치">스마트워치</option>
                            <option value="페이션트모니터">페이션트모니터</option>
                            <option value="캐시비">캐시비</option>
                          </select> 
                        </div>
                    </div>
                </div>
                </div>
                <br><br>
                <div style="text-align: center; font-size:1.5em;">활동<br></div>
                <div class="row" style="width:320px; margin:0 auto;">
                  <select id="activityType" name = "activityType" class="form-control">
                      <option value = ''>타입</option>
                      <option value="판매">판매</option>
                      <option value="구매">구매</option>
                      <option value="배포">배포</option>
                      <option value="수정">수정</option>
                  </select> 
              </div>
              <br>
              <div class="row">
                <!-- Include Bootstrap Datepicker -->
                <div class="form-group" style="text-align: center;">
                    <div style="width:320px; margin:0 auto;">
                            <div class="input-group input-append date" id="datePicker" >
                            <input type="text" class="form-control" name="date" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                    </div>
                </div>
            </div>
            <br><br>

                  <a href = "/data/modifyData"><input class="btn btn-primary" type="submit" value="수정" style="width:100px;" onClick="onAdd()"></a>
                  <input class="btn btn-light" type="reset" value="취소" style="width:100px;">
                  <br><br>
                </form>
                </div>
              </div>
            <% }%>
        </div>
        <hr class="featurette-divider">
  
      </div><!-- /.container -->
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>

</body>
</html>