<!DOCTYPE html> 
<html lang="ko"> 

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- favicon -->
     <link rel="shortcut icon" href="/images/favicon.ico">
     <link rel="icon" href="/images/favicon.ico">
   
   <title>이력 정보 관리시스템</title>
   
   <link href="http://bootstrapk.com/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
   <link href="/public/stylesheets/carousel.css" rel="stylesheet">
   

</head>

<body style="overflow:auto">
<% include ../header %>


    <!-- Carousel
    ================================================== -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div style="margin-top: 50px;"></div>
          <div class="col-lg-4" align = center>
            <a  href="/viewPage" >
            <img class="img-circle" src="/images/table.jpg" alt="Generic placeholder image" width="140" height="140">
            </a>
            <br><br>
            <h2>개인정보 이력 보기</h2>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" align = center>
            <a href="/addPage">
            <img class="img-circle" src="/images/add.jpg"  alt="Generic placeholder image" width="140" height="140">
            </a>
            <br><br>
            <h2>개인정보 이력 추가</h2>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" align = center>
            <a href = "/search/searchPage">
            <img class="img-circle" src="/images/search.jpg" alt="Generic placeholder image" width="140" height="140">
            </a>
            <br><br>
            <h2>개인정보 이력 검색</h2>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        
        <div class="row">
          <div style="margin-top: 50px;"></div>
          <div class="col-lg-4" align = center>
            <a  href="/data/modifyData" >
            <img class="img-circle" src="/images/modify.png" alt="Generic placeholder image" width="140" height="140">
            </a>
            <br><br>
            <h2>개인정보 이력 변경</h2>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" align = center>
            <a href="/data/deleteData">
            <img class="img-circle" src="/images/delete.png"  alt="Generic placeholder image" width="140" height="140">
            </a>
            <br><br>
            <h2>개인정보 이력 삭제</h2>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4" align = center>
            <a href = "/data/uploadData">
            <img class="img-circle" src="/images/upload.png" alt="Generic placeholder image" width="140" height="140">
            </a>
            <br><br>
            <h2>개인정보 이력 업로드</h2>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <%include ../menu%>

          <hr class="featurette-divider">
          <br><br>
          <div class="jumbotron">
              <%if(esession.authenticated == false){%>
                  <% include ../notAuthenticated.ejs %>
              <% }else{%>
            <div class="container">
                <div style="text-align: center;"><h3>이력 파일 업로드</h3><br>
                </div>
  
          <!-- START THE FEATURETTES -->
          
            </div><!-- /.container -->
              <%}%>
          </div>
        <hr class="featurette-divider">
      </div>
  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js">
      </script>
    



    

</body>
</html>