<!DOCTYPE html>
<html lang="ko">

<head>
    <% include ../before_loading.ejs %>
    <title>이력 정보 관리시스템</title>
    <style type="text/css">
        @font-face { font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
        @font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
        body {
            font-family: 'RIDIBatang';
            color: #303030;
            letter-spacing: 1px;
        }
    </style>

    <script>
        function upload() {

            //$("#upload").submit();
            alert("업로드 되었습니다.");
            //location.href="/data/uploadData";

        };

    </script>


</head>

<body style="overflow:auto">
<% include ../header %>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <% include ../menu %>
    <hr class="featurette-divider">
    <div class="container" style="display: inline-block;text-align: center;">
        <% if(esession.authenticated == false){ %>
            <% include ../notAuthenticated.ejs %>
        <% }else{ %>
            <div class="jumbotron" style="background-color: #f8f8f8;">
                <div style="text-align: center; font-size:2em;">개인정보 이력 일괄입력(파일)<br><br>
                </div>

                <!-- START THE FEATURETTES -->
                <div style="width:17%; margin:0 auto;">
                    <form method="post" enctype="multipart/form-data" action="/data/uploadData" id="upload">
                        <input type="file" name="uploadFile"/><br><br>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="확인" style="width:100px; background-color: #4a9dea; border-color:  #4a9dea;">
                    <input class="btn btn-light" type="reset" value="취소" style="width:100px; background-color: #dddddd;">
                    </form>
                </div>

            </div><!-- /.container -->
        <% } %>
    </div>
</div>
<hr class="featurette-divider">
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</body>
</html>